.banner {
    .main-banner-content {
        top: 40px;
        padding: 16px;

        .banner-title {
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        .btn-slider {
            border-radius: 20px;
        }
    }
}