.header-top {
    background-color: $bg-main;
    border-bottom: 1px solid $secondary-color;

    &-text {
        font-size: 16px;
    }
}

.header-bottom {
    background-color: $bg-main;

    .btn-search {
        background-color: $primary-button;
        padding: 8px 16px;
    }

    .compare-product svg,
    .favorite-whislist svg,
    .login svg,
    .cart svg {
        font-size: 30px;
        margin-right: 10px;
    }
}

.menu-nav {
    background-color: $bg-secondary;

    .menu-items .dropdown {
        gap: 50px;
        cursor: pointer;

        .dropdown-menu {
            display: none;
            top: 40px;
            box-shadow: 2px 4px 7px #ebebeb;
            border: none;
        }

        .dropdown-menu span {
            display: inline-block;
        }

        .dropdown-menu.active {
            display: block;
        }
    }
   
    .menu-links .menu-item {
        text-transform: uppercase;
    }

    .gap-50 {
        gap: 50px;
    }

    .mr-50 {
        margin-right: 50px;
    }

    .mr-10 {
        margin-right: 10px;
    }
}